<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset>
    <label class="block clearfix">
      <span class="block input-icon input-icon-right">
        <input formControlName="userCode" type="text" class="form-control" placeholder="Username" autocomplete="off" />
        <i class="ace-icon fa fa-user"></i>
      </span>
    </label>

    <label class="block clearfix">
      <span class="block input-icon input-icon-right">
        <input formControlName="password" type="password" class="form-control" placeholder="Password" autocomplete="off" />
        <i class="ace-icon fa fa-lock"></i>
      </span>
    </label>

    <div class="space"></div>

    <div class="clearfix">
      <label class="inline">
        <input type="checkbox" class="ace" />
        <span class="lbl"> Remember Me</span>
      </label>

      <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" name="action">
        <i class="ace-icon fa fa-key"></i>
        <span class="bigger-110">Login</span>
      </button>
    </div>

    <div class="space-4"></div>
  </fieldset>
</form>